################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyInjection.Service/bin/Debug/net8.0
/DependencyInjection.Service/obj
/DependencyInjectionScopes.API/bin/Debug/net8.0
/DependencyInjectionScopes.API/obj
